# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# data and model ckpts 
data/*/repos 
data/*/*.json
# third_party/
node_modules/
# resource/

ExecCSN_dataset/

# human study
LLM_verification/*.json
*/*.ipynb

package-lock.json
